/*
 * 
 * <!--  <p class='hide'><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
						-->
 * 
 * */

body{
	cursor: url('http://www.rw-designer.com/cursor-extern.php?id=30159'), default;
	font-family:'Josefin Sans', sans-serif;
}

h1{
	font-weight:bold;
	font-size:5rem;
}

h2{
	font-size:3.5rem;
}

h3{
	font-size:3rem;
}

.boxshadow{
	box-shadow: 5px 5px 5px 3px black;
}

#intro{
	background-color: rgba(250,250,235,.8);
	text-shadow: -2px -2px 4px rgba(180,180,180,.7);
}

#intro-paragraph{
	padding-top:1rem;
	font-size:2rem;
	max-width:800px;
	margin:0 auto;
}

.intro-paragraph-section{
	background-image: url('/images/test_background.jpeg');
    background-size: cover;
}

.intro-paragraph-section img{
	opacity: 1;
	background: black;
	border-radius: 2px;
}


#intro-paragraph img{
	max-width:300px;
}

/*
.applewrap{
	background: white;
	padding:1rem;
	width: 100%;
	border: 1px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}*/

.about-paragraph{
	padding-top:1rem;
	padding-bottom:5rem;
	font-size:2rem;
	max-width:800px;
	margin:0 auto;
}

.img-circle{
	max-height:250px;
}

#about .img-circle{
	padding:0;
	transition:.5s;
}

#about div{
	position:relative;
}

#about .img-circle:hover{
	position:inherit;
	padding:1rem;
	opacity:.7;
	transition:.5s;
}

.opaque{
	background:rgba(230,230,230,0.7);
}


.hide{
	visibility:hidden;
}

.red {
	/*background-color:red;*/
}
#blue {
	background-color:blue;
}
#yellow {
	background-color:yellow;
}
#green {
	background-color:green;
}


