h1,p{
	font-family:'Josefin Sans', sans-serif;
}

h1{
	font-weight:bold;
}

.img-circle{
	max-height:250px;
}

.hide{
	visibility:hidden;
}

#red {
	background-color:red;
}
#blue {
	background-color:blue;
}
#yellow {
	background-color:yellow;
}
#green {
	background-color:green;
}
